.index {
    flex-direction: column;
    width: 100%;
  }
  .add_btn {
    background-color: #f00;
  }
  .add_btn_text {
    color: #fff;
    font-size: 50px;
    font-weight: bold;
  }
  .dec_btn{
    background-color: blue;
  }
  .asc_btn{
    background-color: green;
  }
  .num{
    padding: 20px;
  }
  .num_text{
    font-size: 40px;
    text-align: center;
    font-weight: bold;
  }
  .hello{
    padding: 10px;
    margin-top: 30px;
    border-width: 5px;
    border-color: #000;
    border-style: solid;
    font-size: 30px;
    color: #f00;
    font-weight: bold;
  }
  .m_login{
    margin-top: 50px;
    padding: 20px;
  }
  .ipt_item{
    margin: 10px 0;
    flex-direction: row;
  }
  .ipt_label{
    line-height: 60px;
    font-size: 30px;
    margin-right: 20px;
  }
  .ipt_text{
    flex: 1;
    padding: 0 20px;
    // line-height: 60px;
    border-width: 2px;
    border-color: #f00;
    border-style: solid;
  }
  .btn_login{
    background-color: orange;
  }
  .user_info{
    margin-top: 30px;
  }
  .text-red{
    font-size: 32px;
    color: #f00;
    line-height: 60px;
    text-align: center;
  }